/* Checkout page */
#checkout section#content {
	background:#ffffff;
}
#checkout .return-to-store {
	line-height: 30px;
	font-size: 16px;
}
.input-group-btn {
	font-size: 13px;
}
.content ul {
	display:flex;
}
.content ul li:nth-child(2) span{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.content ul li:first-child a{
	padding-left:0;
}
.tab-content .form-group label{
	line-height: 40px;
	margin: 0;
}
.tab-content .form-control-valign label{
	line-height:20px !important;
	padding-top:10px;
	margin-right:30px !important;
	padding-left: 0;
	display: inline-flex;
	align-items: center;
}
.tab-content .form-control-valign .radio-inline .custom-radio{
	margin-right: 10px !important;
}
.tab-content .form-control-valign .radio-inline .custom-radio .outer{
	margin-top: 0;
	top: 4px;
}
footer.form-footer.clearfix {
    margin-top: 20px;
}
#checkout #customer-form .form-group{
	margin-bottom: 0;
}
#checkout .tab-content > .tab-pane {
	display: none;
}
#checkout .tab-content > .tab-pane.active {
	display: block;
}
#checkout #checkout-addresses-step, #checkout #checkout-delivery-step, #checkout #checkout-delivery-step, #checkout #checkout-payment-step{
	margin-top:30px;
}
.content .tab-content  #checkout-login-form.tab-pane{
	opacity: 1;
	visibility: visible;
	height:auto;
}
.radio-block .custom-radio {
	position: relative;
	top: 1px;
}
.form-control-comment {
	line-height:40px;
}
.pasword-form input{
	width:calc(100% - 100px);
}
#checkout #checkout-login-form .forgot-password {
	margin-bottom: 15px;
	margin-top: 15px;
}
#checkout #checkout-personal-information-step, #checkout #checkout-addresses-step, #checkout #checkout-delivery-step, #checkout #checkout-payment-step {
	border: 1px solid #ebebeb;
	width: 100%;
}
#checkout-addresses-step .address-item label{
	line-height:30px;
	font-weight:300;
}
#checkout .address-footer a i{
	margin-right:5px;
}
#checkout .address-footer a {
	margin-right: 6px;
	display: inline-block;
}
#checkout .address-footer a:last-child {
	margin-right:0px;
}
#checkout #delivery-address .form-footer{
		text-align:right;
}
#checkout #footer{
	margin-top: 80px;
}
#checkout #delivery-address .form-footer button {
	font-size: 13px;
	margin-right: 6px;
}
#checkout #delivery-address .form-footer .js-cancel-address{
	display: inline-block;
}
#checkout section#content #js-checkout-summary p {
	text-transform: capitalize;
	font-size: 16px;
}
#checkout .cart-voucher {
	font-size: 16px;
}
#checkout section#content #cart-summary-product-list .media-list .media-body {
	padding: 0;
}
#checkout section#content #cart-summary-product-list .media-list .media{
	margin-bottom:15px;
}
#checkout section#content #js-checkout-summary .card-block .label {
	font-size: 18px;
	color: #777;
}
#checkout section#content #js-checkout-summary .card-block .label {
	font-weight: 800;
	padding: 0;
	color: #333;
}
#checkout #block-reassurance .block-reassurance-item span.h6 {
	font-size: 16px;
	padding: 0 10px;
	margin: 0;
	font-weight: 400;
	line-height: 28px;
}
.price .product-price {
    display: block;
    margin-top: 15px;
}
/* Social Share*/
#checkout section#content .block-social ul li a {
	font-size:0;
}
#checkout section#content .block-social ul li.facebook a:before {
	content:"\f09a";
}
#checkout section#content .block-social ul li.twitter a:before {
	content:"\f099";
}
#checkout section#content .block-social ul li.rss a:before {
	content:"\f09e";
}
#checkout section#content .block-social ul li.youtube a:before {
	content:"\f167";
}
#checkout section#content .block-social ul li.googleplus a:before {
	content:"\f0d5";
}
#checkout section#content .block-social ul li.pinterest a:before {
	content:"\f0d2";
}
#checkout section#content .block-social ul li.vimeo a:before {
	content:"\f27d";
}
#checkout section#content .block-social ul li.instagram a:before {
	content:"\f16d";
}
#checkout section#content .block-social ul li a:before {
	font-family:"FontAweSome";
	font-size:14px;
	color:#b9b9b9;
}
#checkout section#content .block-social .social-title{
    color: #9e9e9e;
    margin-right:10px;
}
#checkout section#content .block-social ul li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    float: left;
    height: 40px;
    margin-right: 10px;
    min-width: 40px;
	text-align:center;
	line-height:40px;
}
#checkout section#content .block-social {
    border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	width:100%;
	display:flex;
}
#checkout section#content .block-social ul {
	margin:0;
}
#checkout #conditions-to-approve ul li{
	display:flex;
}
#checkout #conditions-to-approve ul li .condition-label {
	margin-left: 30px;
}
#checkout .right-box {
	background: #f8f8f8;
}
#checkout .right-box .card.js-cart, #checkout .right-box #block-reassurance {
	padding: 40px;
}
#checkout .right-box #block-reassurance{
	padding-top: 0;
	margin-top: 0;
}
#checkout .cart-summary-products .product-link {
	color: #333;
	font-size: 16px;
}
#checkout .content ul li a{
	font-size: 16px;
	color: #777;
}
#checkout .content ul li a:hover{
	color: #48CAB2;
}
#customer-form p,
#customer-form span{
	font-size: 16px;
}
.custom-radio input{
	position: absolute;
	left: 0;
	top: 6px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin: 0 !important;
	z-index: 9;
}
.custom-radio .outer{
	position: absolute;
	left: 0;
	top: 6px;
}
.custom-radio ~ label{
	padding-left: 30px;
}
.custom-checkbox{
	position: relative;
}
.custom-checkbox input{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0;
	position: absolute;
	left: 0;
	top: 4px;
	opacity: 0;
	cursor: pointer;
	z-index: 999;
}
.custom-checkbox label .box,
.custom-checkbox label .check{
	top: 4px !important;
}
#delivery-address .form-group.row .custom-checkbox label{
	line-height: 28px;
}
/* chekout step */
body#checkout section.checkout-step.-complete .step-title {
	color: #fff;
}
body#checkout section.checkout-step.-complete .step-title {
	background-color: #48CAB2;
	color: #fff;
	line-height: 1;
}
body#checkout section.checkout-step .step-title {
	cursor: pointer;
	font-size: 18px;
	margin: 0;
	padding: 20px;
	line-height: 1;
}
body#checkout section.checkout-step .content {
    margin-top: 10px;
}
body#checkout section.checkout-step .step-edit {
    text-transform: lowercase;
    font-weight: normal; 
}
body#checkout section.checkout-step .step-edit .edit {
    font-size: 15px; 
    margin-right: 5px;
}
body#checkout section.checkout-step .not-allowed {
    cursor: not-allowed;
    opacity: 0.5; 
}
body#checkout section.checkout-step .content,
body#checkout section.checkout-step .done,
body#checkout section.checkout-step .step-edit {
    display: none; 
}
body#checkout section.checkout-step .content {
	display: none;
	padding: 0 20px 20px;
}
body#checkout section.checkout-step.-current.-reachable.-complete .done,
body#checkout section.checkout-step.-current.-reachable.-complete .step-edit {
    display: none; 
}
body#checkout section.checkout-step.-current.-reachable.-complete .step-number {
    display: inline-block; 
}
body#checkout section.checkout-step.-current.-reachable.-complete .content, body#checkout section.checkout-step.-current.-reachable.-current .content {
    display: block; 
}
body#checkout section.checkout-step.-reachable.-complete h1 .done {
    display: inline-block; 
}
body#checkout section.checkout-step.-reachable.-complete h1 .step-number {
    display: none; 
}
body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
    color: #fff;
	cursor: pointer;
	display: block;
	float: right;
	margin-right: 0.125rem; 
	text-transform:capitalize;
}
body#checkout section.checkout-step.-reachable.-complete .content {
    display: none; 
}
.done {
  color: #fff;
  display: inline-block;
  margin-right: 5px;
} 
body#checkout section.checkout-step.-current .content .address {
	font-weight: 400;
	padding: 0 30px;
}
body#checkout section.checkout-step.-current .content .address-alias.h4 {
	font-weight: 800;
	color: #333;
	padding-left: 30px;
}
body#checkout section.checkout-step.-current .content .address-footer {
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	padding: 10px 0;
	text-align:right;
}
body#checkout section.checkout-step.-current .content .add-address {
	margin:20px 0;
}
body#checkout section.checkout-step.-current .content .form-control-select {
	height: 40px;
	padding-right: 0;
	width:100%;
}


@media (max-width: 1199px){
	.cart-grid-right .right-box .card.cart-summary {
		margin-top: 0;
	}
}
@media (max-width: 991px){
	#checkout .right-box{
		margin-top: 50px;
	}
}
@media (max-width: 767px){
	#checkout #footer {
		margin-top: 50px;
	}
	#checkout .right-box .card.js-cart, 
	#checkout .right-box #block-reassurance {
		padding: 20px;
	}
}
@media (max-width: 481px){
	body#checkout section.checkout-step .step-title {
		font-size: 14px;
	}
	#checkout #delivery-address .form-footer{
		display: flex;
		flex-direction: column;
	}
	#checkout #delivery-address .form-footer button{
		margin-right: 0;
		margin-bottom: 10px;
	}
	#checkout #delivery-address .form-footer .js-cancel-address{
		text-align: center;
	}
}