#contact .breadcrumb{
	margin-bottom: 18px;
}
#contact #right-column{
	display: none;
}
#contact #left-column{
	width: 33.33333%;
}
#contact #content-wrapper{
	width: 66.66667%;
}
#contact #wrapper .addon-title h3{
	text-align: left;
	font-size: 24px;
	padding-bottom: 27px;
	text-transform: none;
}
#contact #wrapper .addon-title{
	margin-bottom: 22px;
}
#contact #wrapper .addon-title span{
	font-size: 15px;
	line-height: 23px;
	color: #858585;
}
#contact #wrapper label{
	margin-bottom: 3px;
	text-transform: uppercase;
}
#contact #wrapper label span.buttonText{
	text-transform: uppercase;
}
#contact #wrapper label span{
	text-transform: lowercase;
}
#contact .info-address {
	line-height: 1.45;
	font-size: 15px;
	letter-spacing: 0.75px;
	margin-bottom: 26px;
}
#contact .data.email {
	margin-bottom: 30px;
}
#contact .block-contact.links.wrapper{
	display: block;
}
#contact .block-contact .label{
	font-size: 15px;
	color: #141414;
	font-weight: 700;
	padding: 0;
}
#contact .block-contact .section {
	line-height: 1.85;
	letter-spacing: 0;
	margin-bottom: 20px;
}
#contact .block-contact .address.section {
	margin-top: 32px;
	margin-bottom: 26px;
}
#contact #wrapper {
	background:#fff;
}
#contact .contact-form .alert-danger{
	margin-bottom: 50px;
}
#contact #wrapper #content-wrapper {
	padding:0px 15px;
}
#contact #footer {
	margin-top: 80px;
}
#contact #content-wrapper {
	margin-bottom: 0;
}
#contact .contact-map iframe {
	width: 100%;
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%);
}
#contact .contact-map:hover iframe {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
#contact .form-group {
	margin-bottom: 22px;
}
#contact .form-fields textarea{
	padding-bottom: 21px;
}
#contact .form-fields .bootstrap-filestyle input{
	background: transparent;
	cursor: default;
}
#contact .form-fields textarea {
	padding: 6px 16px 0px;
}
#contact #wrapper #left-column .contact-rich h4 .fa-envelope {
	font-size:21px;
	margin-right:5px;
}
#contact #wrapper #left-column .contact-rich .data, #contact #wrapper #left-column .contact-rich .data.email {
	font-size: 15px;
	line-height: 21px;
	letter-spacing: 0.75px;
	text-transform: capitalize;
}
#contact #wrapper #content-wrapper .contact-form .form-fields .bootstrap-filestyle .group-span-filestyle label {
	border-radius: 0;
	font-size: 13px;
	margin: 0;
	z-index: 9;
	padding: 0 20px;
	height: 35px;
	line-height: 34px;
}
#contact #wrapper #content-wrapper .contact-form .form-fields .bootstrap-filestyle .group-span-filestyle label:hover{
	color: #fff;
}
#contact #wrapper #content-wrapper .contact-form .form-fields .bootstrap-filestyle .group-span-filestyle label .glyphicon-folder-open:before {
	content:"\f07c";
	font-family:"FontAwesome";
	font-size:13px;
	margin-right:5px;
}
#contact #wrapper #content-wrapper .contact-form .form-fields .col-md-3.form-control-comment {
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	text-transform: capitalize;
}
#contact #wrapper #content-wrapper .contact-form .form-footer {
	text-align: left;
	margin-top: 9px;
}
#contact .form-control.form-control-select {
	padding-left: 12px;
	width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=") no-repeat scroll right 0.5rem center / 2.25rem 2.25rem !important;
	line-height: 1;
}
@media(max-width:1199px){
	#contact #wrapper #left-column .contact-rich h4 {
	  font-size: 14px;
	}
	#contact #wrapper #left-column .contact-rich h4 .fa-envelope {
		font-size: 14px;
	}
	#contact #wrapper #left-column .contact-rich h4 .fa-map-marker {
		font-size:17px;
	}
	#contact #wrapper #left-column .contact-rich .data, #contact #wrapper #left-column .contact-rich .data.email {
		font-size:14px;
	}
}
@media(max-width:767px) {
	#contact #left-column {
		width: 100%;
		padding: 0;
	}
	body#contact #wrapper #content-wrapper{
		width: 100%;
		padding-right: 0;
	}
	#contact #right-column{
		width: 100%;
		padding: 0;
	}
	#contact #wrapper #content-wrapper {
		padding: 0;
	}
	#contact #wrapper>.row {
		margin-left:0;
		margin-right:0;
	}
	#contact #wrapper {
		padding:0 15px;
	}
	#contact .page-content.card-block {
		margin-top:50px;
	}
}