.header {
  background: #141414; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .menu .addon-box:first-child {
      margin-right: 20px; }

.jms-megamenu .nav > li > a {
  line-height: 27px;
  color: #fff; }
  .jms-megamenu .nav > li > a:hover {
    color: #858585; }
    .jms-megamenu .nav > li > a:hover i {
      fill: #858585; }
  .jms-megamenu .nav > li > a i {
    fill: #fff; }

.right-icon-group svg {
  fill: #fff; }

.right-icon-group .cart-icon {
  color: #fff; }

.right-icon-group .languages-info .btn-xs,
.right-icon-group .currency-info .btn-xs {
  color: #fff; }

.jms-banner > a {
  display: block;
  overflow: hidden; }

.jms-banner .banner-content {
  position: unset;
  text-align: center;
  margin-top: 18px; }
  .jms-banner .banner-content .banner-title {
    font-size: 24px;
    padding-bottom: 12px; }
  .jms-banner .banner-content .banner-desc {
    color: #858585;
    padding-bottom: 19px; }

.banner-type-2 .banner-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  padding: 0 20px;
  margin-top: 0;
  text-align: center; }
  .banner-type-2 .banner-content .text-1 {
    font-size: 44px;
    text-transform: uppercase;
    padding-bottom: 27px;
    letter-spacing: 2px; }
  .banner-type-2 .banner-content .text-2 {
    font-size: 18px;
    padding-bottom: 37px; }

.page-index #footer {
  margin-top: 70px; }

#footer {
  border-top: 0;
  padding-top: 0; }
  #footer #social_block.type-2 ul li:last-child {
    padding-right: 0; }
  #footer .footer-bottom {
    background: #141414;
    padding: 9px 0;
    border-top: 0; }
    #footer .footer-bottom .container > .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #footer .footer-bottom .find-us {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      #footer .footer-bottom .find-us li a {
        color: #fff; }
    #footer .footer-bottom p {
      font-size: 10px;
      color: #858585;
      margin-bottom: 0; }
      #footer .footer-bottom p a {
        text-decoration: underline;
        color: #858585; }
        #footer .footer-bottom p a:hover {
          color: #fff; }

@media (max-width: 1199px) {
  .jms-megamenu .nav > li {
    padding: 0 3px; }
  .right-icon-group .addon-box {
    margin-left: 10px; }
  .jms-slider-wrapper .text-2 {
    letter-spacing: 0; } }

@media (max-width: 991px) {
  #footer .footer-bottom .container > .row {
    display: block;
    text-align: center; }
  #footer .footer-bottom .find-us {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px; } }

@media (max-width: 767px) {
  .banner-type-2 .banner-content .text-1 {
    font-size: 25px;
    padding-bottom: 10px; }
  .banner-type-2 .banner-content .text-2 {
    font-size: 16px;
    padding-bottom: 10px; }
  .jms-banner .banner-content .banner-title {
    font-size: 16px; } }

@media (max-width: 481px) {
  .banner-type-2 .banner-content .text-1 {
    font-size: 16px;
    padding-bottom: 10px; }
  .banner-type-2 .banner-content .text-2 {
    font-size: 10px;
    padding-bottom: 10px; } }
