.banner-type-1 {
  margin-top: 10px; }
  .banner-type-1 .container-fluid {
    padding: 0 10px; }
  .banner-type-1 .row {
    margin-left: -5px;
    margin-right: -5px; }
  .banner-type-1 .layout-column {
    padding: 0 5px; }
  .banner-type-1 .jms-banner:hover .banner-content .text-2::before {
    width: 100%; }
  .banner-type-1 .banner-content {
    color: #fff;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
    .banner-type-1 .banner-content .text-1 {
      font-size: 18px;
      font-weight: 800;
      margin-bottom: 14px; }
    .banner-type-1 .banner-content .text-2 {
      font-size: 36px;
      font-weight: 800;
      margin-bottom: 9px;
      position: relative;
      display: inline-block; }
      .banner-type-1 .banner-content .text-2::before {
        position: absolute;
        bottom: -7px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '';
        color: transparent;
        background-color: #fff;
        height: 2px;
        -webkit-transition: width 0.25s;
        -o-transition: width 0.25s;
        transition: width 0.25s; }
    .banner-type-1 .banner-content .text-3 {
      font-size: 18px;
      margin-bottom: 34px; }

.promo-fullwidth {
  padding: 172px 0 164px;
  margin: 10px; }
  .promo-fullwidth .content {
    text-align: center;
    color: #fff; }
    .promo-fullwidth .content .text-1 {
      font-size: 18px;
      margin-bottom: 3px; }
    .promo-fullwidth .content .text-2 {
      font-size: 64px;
      font-weight: 800;
      line-height: 77px;
      margin-bottom: 4px; }
    .promo-fullwidth .content .text-3 {
      margin-bottom: 33px; }
    .promo-fullwidth .content .btn-shopnow {
      padding: 5px 31px;
      font-size: 14px; }

#footer {
  padding: 50px 0; }
  #footer .footer-bottom {
    padding-bottom: 0; }
    #footer .footer-bottom .copyright {
      float: left;
      margin-bottom: 0; }
    #footer .footer-bottom ul {
      float: right;
      margin-bottom: 0;
      padding-top: 6px; }
      #footer .footer-bottom ul li {
        margin-right: 0;
        margin-left: 9.5px; }
