.menu {
  background: #141414; }
  .menu .jms-megamenu .nav > li > a {
    color: #fff; }
  .menu svg {
    fill: #fff; }

.page-index #footer {
  margin-top: 0; }

.jms-slider-wrapper {
  margin-bottom: 0; }

@media (max-width: 1366px) and (min-width: 1200px) {
  .jms-slider-wrapper .text-2 {
    font-size: 35px !important;
    letter-spacing: 0; }
  .jms-slider-wrapper .text-3 {
    font-size: 14px !important; } }

@media (max-width: 1199px) {
  .jms-slider-wrapper .text-2 {
    letter-spacing: 0; } }

@media (max-width: 991px) and (min-width: 768px) {
  .jms-row.banner .container {
    width: 750px; } }
