.header {
  background: #141414; }

.jms-megamenu .nav > li > a {
  line-height: 27px;
  color: #fff; }
  .jms-megamenu .nav > li > a i {
    fill: #fff; }

.right-icon-group svg {
  fill: #fff; }

.right-icon-group .cart-icon {
  color: #fff; }

.right-icon-group .languages-info .btn-xs,
.right-icon-group .currency-info .btn-xs {
  color: #fff; }

.jms-slider-wrapper .text-2 {
  letter-spacing: 2px; }

.jms-slider-wrapper .fraction-slider {
  height: 100% !important; }

.page-index #footer {
  margin-top: 0; }

#woorebought-popup {
  z-index: 992; }

#footer {
  padding-top: 0;
  border-top: 0; }
  #footer .footer-bottom {
    padding: 8.5px 0; }
    #footer .footer-bottom #social_block.type-2 ul {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      #footer .footer-bottom #social_block.type-2 ul li:last-child {
        padding-right: 0; }
    #footer .footer-bottom p {
      font-size: 10px;
      color: #858585;
      line-height: 23px;
      margin-bottom: 0; }
      #footer .footer-bottom p a {
        text-decoration: underline;
        color: #858585; }
        #footer .footer-bottom p a:hover {
          color: #141414; }

@media (max-width: 1366px) and (min-width: 1200px) {
  .jms-slider-wrapper .text-2 {
    font-size: 35px !important;
    letter-spacing: 0; }
  .jms-slider-wrapper .text-3 {
    font-size: 14px !important; } }

@media (max-width: 991px) {
  #wrapper {
    margin-top: -1px; }
  #footer .footer-bottom p {
    text-align: center; }
  #footer .footer-bottom #social_block.type-2 ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
