.header {
  border-bottom: 1px solid #e5e5e5; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .menu .addon-box:first-child {
      margin-right: 20px; }
  .header .jms-megamenu .nav > li > a {
    line-height: 27px; }

#jms_ajax_search .btn-search span {
  display: block; }

.jms-row.menu.fixed {
  top: 0; }

.menu {
  background: #141414; }
  .menu .jms-megamenu .nav > li > a {
    color: #fff; }
  .menu svg {
    fill: #fff; }
  .menu #jms_ajax_search .btn-search {
    color: #fff; }

.jms-banner > a {
  display: block;
  overflow: hidden; }

.jms-banner .banner-content {
  position: unset;
  text-align: center;
  margin-top: 18px; }
  .jms-banner .banner-content .banner-title {
    font-size: 24px;
    padding-bottom: 12px; }

.service {
  border: 0;
  background: #141414; }
  .service p span span {
    color: #fff; }
  .service svg {
    fill: #fff; }

.page-index #footer {
  border-top: 0;
  margin-top: 0; }
  .page-index #footer .footer-top {
    margin-bottom: 50px; }

@media (min-width: 992px) {
  .jms-row.header.fixed {
    position: relative !important; } }

@media (max-width: 1366px) and (min-width: 1200px) {
  .jms-slider-wrapper .text-2 {
    font-size: 35px !important;
    letter-spacing: 0; }
  .jms-slider-wrapper .text-3 {
    font-size: 14px !important; } }

@media (max-width: 1199px) {
  .jms-slider-wrapper .text-2 {
    letter-spacing: 0; } }

@media (max-width: 991px) and (min-width: 768px) {
  .jms-row.banner .container {
    width: 750px; } }

@media (max-width: 991px) {
  .jms-banner .banner-content .banner-title {
    font-size: 16px; }
  .jms-row.menu {
    background: transparent;
    padding-bottom: 0; }
    .jms-row.menu #open-button .icon {
      fill: #141414; } }
