.header {
  padding: 17px 0 0; }
  .header .logo > span {
    padding-bottom: 0; }

.left-module-header .addon-box {
  margin-right: 2px; }

.right-module-header .addon-box:last-child {
  margin-left: 17px;
  margin-right: 0; }

.ajax_cart_quantity {
  right: -4px; }

.jms-megamenu .nav > li > a {
  line-height: 53px; }

.page-index .menu {
  margin-bottom: 5px; }

.page-index #footer {
  margin-top: 6px; }

#footer {
  padding-top: 84px;
  padding-bottom: 36px;
  background: transparent; }
  #footer .footer-bottom {
    padding-bottom: 11px; }
    #footer .footer-bottom ul li {
      margin: 0;
      margin: 0 4.75px; }
    #footer .footer-bottom .copyright {
      margin-bottom: 29px; }
  #footer #social_block ul li {
    margin: 0;
    margin: 0 10px; }
