.jms-row.menu.fixed {
  top: 0; }

.header {
  background: #141414; }

.right-icon-group svg {
  fill: #fff; }

.right-icon-group .cart-icon {
  color: #fff; }

.right-icon-group .languages-info .btn-xs,
.right-icon-group .currency-info .btn-xs {
  color: #fff; }

.banner-bg.v1 {
  padding: 157px 0 160px; }
  .banner-bg.v1 .text-3 {
    line-height: 1.3;
    margin-bottom: 24px; }

.menu {
  padding: 6px 0;
  background: #141414;
  border-top: 1px solid #3e3e3e; }

.jms-megamenu .nav > li > a {
  line-height: 27px;
  color: #fff; }
  .jms-megamenu .nav > li > a:hover {
    color: #858585; }
    .jms-megamenu .nav > li > a:hover i {
      fill: #858585; }
  .jms-megamenu .nav > li > a i {
    fill: #fff; }

.jms-banner.type-1 > a {
  display: block;
  overflow: hidden; }

.jms-banner.type-1 .banner-content {
  position: unset;
  text-align: center;
  margin-top: 18px; }
  .jms-banner.type-1 .banner-content .banner-title {
    font-size: 24px;
    padding-bottom: 9px; }
  .jms-banner.type-1 .banner-content .banner-desc {
    color: #858585; }

.service {
  border-bottom: 0; }

.page-index #footer {
  margin-top: 0; }

#footer {
  border-top: 0;
  background: #141414; }
  #footer .addon-title h3 {
    color: #fff; }
  #footer ul li a:hover {
    color: #fff; }
  #footer svg {
    fill: #bfbfbf; }
  #footer .addon-desc a:hover {
    color: #fff; }
  #footer .footer-top .contact-info p a:hover {
    color: #fff; }
  #footer .footer-top #social_block .fa {
    color: #fff; }
  #footer .footer-bottom {
    border-top-color: #3e3e3e; }
    #footer .footer-bottom .copyright p a:hover {
      color: #fff; }
  #footer #newsletter_block_left button {
    color: #fff;
    border-color: #fff; }
    #footer #newsletter_block_left button:hover {
      background: #fff;
      color: #141414 !important; }
  #footer #newsletter_block_left #newsletter-input {
    background: transparent;
    border-color: #3e3e3e; }
    #footer #newsletter_block_left #newsletter-input:hover, #footer #newsletter_block_left #newsletter-input:focus {
      border-color: #fff; }

@media (max-width: 991px) {
  .jms-row.menu {
    padding-bottom: 0; }
    .jms-row.menu.fixed {
      top: 0 !important; }
    .jms-row.menu #open-button .icon {
      fill: #fff; }
  .jms-row.header.fixed {
    background: #141414; } }
