.page-not-found {
	text-align: center;
	padding: 184px 0 200px;
}
.page-not-found .small-text{
	margin-bottom: 50px;
}
#pagenotfound #wrapper > .container{
	max-width: 450px;
	margin: auto;
}
.page-not-found #search_widget{
	max-width: 370px;
}
.page-not-found h1{
	letter-spacing: 2px;
	padding-bottom: 23px;
}
.page-not-found h3 {
	text-transform: capitalize;
	font-weight: 900;
	font-size: 220px;
	padding-bottom: 0;
	color: #000;
	letter-spacing: 11px;
	margin-top: 13px;
}
.page-not-found p.text-1 {
	font-size: 24px;
	margin-bottom: 28px;
}
.page-not-found p.text-2 {
	margin-bottom: 29px;
	color: #858585;
	line-height: 1.3;
}
.page-not-found .search-box {
	display:flex;
	justify-content:center;
}
#pagenotfound #main h4, #search #main h4 {
	font-size: 25px;
	font-weight: 700;
	padding: 0;
	line-height: 1;
	margin-bottom: 20px;
}
#search .h2 {
	font-size:26px;
	text-transform:uppercase;
}
#pagenotfound .large-text, #search .large-text {
	color:#454545;
	font-size: 45px;
	font-weight: 500;
	line-height: 1.1;
	text-transform: uppercase;
	font-weight:700;
}
#pagenotfound .small-text, #search .small-text {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 50px;
}
#pagenotfound #footer {
	margin-top: 0;
}
@media (max-width: 767px){
	.page-not-found{
		padding: 100px 0;
	}
}