.header .megamenu .addon-box:first-child {
	margin-left: 27px;
	margin-right: 0;
}
.banner-type-2 .banner-content,
.banner-type-3 .banner-content {
  text-align: left;
}
@media (max-width: 1199px){
	.header .megamenu .addon-box:first-child{
		margin: 0;
	}
}