.menu .buy-theme p {
	text-align: left;
}
.search-no-popup #jms_ajax_search #ajax_search {
	background-position: left 9px;
}
.jms-megamenu .nav > li.sub-home {
	padding-right: 0;
	padding-left: 12px;
}
#footer .footer-top .social .addon-box:nth-child(3) #social_block {
	margin-right: 18px;
	margin-left: 0;
}