#sitemap #wrapper > .container {
	border:1px solid #ebebeb;
	padding: 30px 0;
}
#sitemap .sitemap{
	margin: 0;
}
#sitemap .sitemap ul.tree li a {
	font-size:15px;
}
@media (max-width: 991px){
	#sitemap .sitemap > div{
		margin-bottom: 30px;
	}
}
@media (max-width: 767px){
	#sitemap #wrapper > .container {
		border: 0;
		box-shadow: unset;
		padding: 0 !important;
	}
	#sitemap .sitemap{
		padding: 0;
	}
}
