@import "mixin";
@import "varians";

// @media (min-width: 992px){
// 	.jms-row.header.fixed,
// 	.jms-row.menu.fixed{
// 		left: 0;
// 		right: 0;
// 		position: fixed !important;
// 		width: 100%;
// 		background: rgba(255,255,255,0.9);
// 	  	animation-duration: 0.8s;
// 		animation-name: slideDown;
// 		animation-timing-function: ease;
// 		z-index: 999;
// 	}
// }

.main-site{
	overflow: hidden;
}

//custom padding 20
.custom-padding{
	.container{
		padding-left: 20px;
		padding-right: 20px
	}
}
//

//popup adv
.jms-popup{
	.row{
		margin: 0;
	}
	#newsletter_block_left{
		.addon-title{
			display: none;
			&.popup{
				display: block;
			}
		}
		.form-group{
			display: block !important;
		}
		button{
			display: none;
			&.btn-default{
				display: block !important;
				background: $active;
				margin: auto;
				font-size: 14px;
				&:hover{
					background: #333;
				}
			}
		}
	}
	.dontshow label a{
		position: relative;
		@include underline(1, #333, 1);
		&::before{
			width: 100%;
		}
		&:hover{
			color: #333;
			&::before{
				width: 0;
			}
		}
	}
	.content{
		background: #ffffff url("../img/modal-discount-bg-01.jpg") 0 0 no-repeat;
		background-size: 49% auto;
		height: 100%;
	}
	.news_content + p{
		display: none;
	}
}
//

//top panel
.top-panel{
	font-size: 14px;
	border-bottom: 1px solid #ebebeb;
	padding: 6px 0;

	p{
		margin-bottom: 0;
	}
	.call-us{
		strong{
			color: #333;
		}
	}
	.content{
		.content-item{
			text-align: center;
			p{
				display: inline-block;
				strong{
					color: #333;
				}
			}
			.pt-link-underline{
				color: $active;
				font-weight: 800;
				position: relative;
				&:hover::before{
					width: 0;
				}
				&::before{
					position: absolute;
					bottom: 1px;
					left: 0;
					right: 0;
					margin: auto;
					width: 100%;
					content: '';
					color: transparent;
					background: $active;
					height: 1px;
					transition: width 0.2s;
				}
			}
		}
	}
	.social{
		ul{
			margin-bottom: 0;
			text-align: right;
			li{
				display: inline-block;
				padding-left: 12px;
				a{
					color: #777;
					&:hover{
						color: #333;
					}
				}
			}
		}
	}
}
//

//header
#header{
	.container-fluid{
		padding-left: 50px;
		padding-right: 50px;
	}
}
.header{
	.container-fluid > .row{
		display: flex;
		align-items: center;
	}
}
//

//megamenu
.megamenu{
	&.center{
		.jms-megamenu > ul{
			text-align: center;
		}
	}
	&.right{
		.jms-megamenu > ul{
			text-align: right;
		}
	}
}
//

//jms ajax search
#jms_ajax_search #search-form .close-search{
	background: #141414 url('../img/icon/close-search.png') no-repeat center;
}
.search-no-popup{
	#search-form{
		display: block !important;
		position: static;
		opacity: 1;
	}
	.search-box{
		padding: 0 9px 0 18px;
		border: 1px solid #ebebeb;
		display: inline-block;
	}
	#jms_ajax_search{
		.modal-content{
			padding: 0;
		}
		.label-form{
			display: none;
		}
		.modal-dialog{
			box-shadow: unset;
			margin-bottom: 0;
			transform: unset;
		}
		.btn-search{
			display: none;
		}
		#ajax_search{
			font-size: 16px;
			color: #777;
			border: 0;
			height: 42px;
			width: 321px;
			background-size: 23px;
			background-position: right 9px;
			&::placeholder{
				color: #777;
			}
		}
	}
}
//

//btn group
.user-info{
	> a{
		height: 24px;
		display: inline-block;
	}
}
.btn-group{
	&.languages-info, &.currency-info{
		&.open i{
			transform: scale(1, -1);
		}
		i{
			display: inline-block;
			transition: all 0.15s;
		}
		.dropdown-menu{
			top: calc(100% + 28px);
			right: calc(100% - 41px);
		}
	}
	.dropdown-menu{
		top: calc(100% + 21px);
		border-top: 1px solid #ebebeb;
		left: auto;
		right: calc(100% - 30px;);
		padding: 21px 0;
	}
	ul{
		padding: 10px 0;
		margin-bottom: 0;
		li{
			padding: 0 40px;
			font-size: 14px;
		}
	}
}
#_desktop_currency_selector{
	&.type3, &.type2{
		display: none;
	}
	&.type1{
		display: block;
	}
}
#_desktop_user_info{
	.type-2{
		display: none;
	}
}
.languages-info, #_desktop_currency_selector, #_desktop_user_info {
	ul > li{
		&.current > a{
			color: $active;
		}
		> a{
			text-transform: capitalize;
			color: #777;
			&:hover{
				color: $active;
			}
		}
	}
}
//

//left module-header
.left-module-header{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-top: 5px;
	.languages-info, .currency-info {
		position: relative;
		bottom: 3px;
		svg{
			width: 14px;
			height: 14px;
			color: #d0d0d0;
			position: relative;
			top: 3px;
			right: 2px;
		}
	}
	svg{
		width: 24px;
		height: 24px;
	}
}
//

//right-module-header
.right-module-header{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	padding-top: 5px;
	.addon-box{
		&:not(:first-child){
			margin-left: 17px;
		}
		&:last-child{
			margin-left: 7px;
			margin-right: -3px;
		}
	}
	.languages-info, .currency-info {
		position: relative;
		bottom: 3px;
		svg{
			width: 14px;
			height: 14px;
			color: #d0d0d0;
			position: relative;
			top: 3px;
			right: 2px;
		}
	}
	svg{
		width: 24px;
		height: 24px;
	}
}
//

//jms banner
.jms-banner{
	position: relative;
	overflow: hidden;
	&:hover > a > img{
		transform: scale3d(1.1, 1.1, 1);
	}
	> a > img{
		transition: transform 1s, -webkit-transform 1s;
	}
	.banner-content{
		p{
			margin-bottom: 0;
		}
	}
}
//

//hotdeal carousel
.hotdeal-carousel{
  	.countdown-box{
  		position: absolute;
		bottom: 10px;
		width: calc(100% - 20px);
		background: rgba(255,255,255,0.9);
		left: 10px;
		text-align: center;
		padding: 10px;
		.title-countdown {
			display: inline-block;
			font-size: 14px;
			line-height: 17px;
			color: #333;
			padding-bottom: 5px;
			text-transform: capitalize;
		}
  	}
  	.countdown-section {
		display: inline-flex;
		flex-direction: column;
		color: #333;
		padding: 0 12px;
		min-width: 50px;
	}
  	.countdown-amount{
  		font-size: 22px;
        line-height: 15px;
        display: block;
        font-weight: 700;
  	}
  	.countdown-period{
  		display: block;
        padding-top: 4px;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
  	}
}
//

//jms tab
.jms-tab{
	padding-top: 21px;
	ul{
		li{
			a{
				color: #333;
				font-size: 13px;
				line-height: 20px;
				font-weight: 800;
				padding: 5px 12px;
				letter-spacing: 0.5px;
				display: inline-block;
				transition: color 0.2s;
				text-transform: uppercase;
				&.active{
					color: $active;
				}
			}
		}
	}
}
//

//jmsproductvideo
#product #main{
	position: relative;
}
#jmsproductvideo{
	margin-bottom: 30px;
	.jms-popup-wrap{
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.popup_close {
		font-size: 17px;
		color: #FFF;
		cursor: pointer;
		position: absolute;
		right: -15px;
		top: -20px;
	}
	.open-video{
		.jms-video{
			z-index: 11111;
		}
		.jms-popup-overlay{
			opacity: 1 !important;
			display: block !important;
			background: rgba(0,0,0,0.9);
		}
		.jms-popup-box{
			display: block;
		}
	}

	.jms-popup-box{
		z-index: 999;
	}
	.addon-title{
		h3 p{
			margin-bottom: 0;
		}
		span{
			display: block;
			font-size: 10px;
			margin-left: 5px;
			white-space: nowrap;
			padding-top: 2px;
			font-style: normal;
		}
	}
}
//

//video
.addon-video{
	text-align: center;
	.btn-close{
		visibility: hidden;
		position: fixed;
		top: 0;
		right: 0;
		cursor: pointer;
		z-index: 999991;
		width: 100%;
		height: 100%;
		padding: 30px;
		display: flex;
		justify-content: flex-end;
	}
	span > .fa-close {
	    color: #fff;
	    font-family: FontAwesome;
	    font-size: 30px;
	    height: 32px;
	}
	.bg-overlay {
	    content: "";
	    position: fixed;
	    top: 0;
	    left: 0;
	    opacity: 0;
	    visibility: hidden;
	    width: 100%;
	    height: 100%;
	    background: rgba(0,0,0,0.9);
	    transition: .6s all;
	    z-index: 99999;
	}
}
.jms-row.video{
	&.show-video{
		iframe {
		    position: fixed;
		    max-width: 1000px;
		    top: 200px;
		    z-index: 999999;
		    border: 2px solid #fff;
		    left: 50%;
		    transform: translateX(-50%);
		    opacity: 1;
		    visibility: visible;
		}
		.jms-addon.jms-video {
		    opacity: 1;
		    visibility: visible;
		}
		.bg-overlay{
			opacity: 1;
			visibility: visible;
		}
		.btn-close{
			visibility: visible;
		}
	}
}
.jms-addon.jms-video{
	display: inline-flex;
	background: url("../img/h11-bg-video.jpg") no-repeat;
	background-size: cover;
	box-shadow: 0 7px 43px 0 rgba(0, 0, 0, 0.1);
	cursor: pointer;
	iframe{
		opacity: 0;
		visibility: hidden;
	}
}
//

//brand
.brand-carousel{
	padding: 60px 0;
}
.brand-item{
	a img{
		width: 100% !important;
	}
}
//

//newlletter
#newsletter_block_left{
	.addon-title.popup{
		display: none;
	}
	.form-group button{
		&.btn-default{
			display: none;
		}
	}
	.addon-title.popup{
		display: none;
	}
	.form-group{
		display: flex;
		border: 1px solid #ebebeb;
		margin-bottom: 13px;
		margin-top: 6px;
		#newsletter-input{
			height: 42px;
			border: 0;
			margin: 0;
			font-size: 16px;
			font-weight: 800;
			padding: 0 18px;
		}
		button{
			border: 0;
			background: #fff;
			height: 42px;
			min-width: 44px;
			svg{
				width: 24px;
				height: 24px;
				color: #333;
				position: relative;
				top: 3px;
				transition: .4s all;
				&:hover{
					color: $active;
				}
			}
		}
	}
	p{
		font-size: 14px;
		line-height: 20px;
	}
}
#footer .newsletter{
	.addon-box:nth-child(2){
		display: flex;
		align-items: center;
		margin-top: 19px;
		.addon-title h3{
			padding-bottom: 0;
			margin-right: 18px;
			text-transform: capitalize;
		}
	}
}

//

//social block footer
#social_block{
	ul{
		margin-bottom: 0;
		li{
			display: inline-block;
			margin-right: 20px;
			a{
				color: #d0d0d0 !important;
				font-size: 20px !important;
				&:hover{
					color: #333 !important;
				}
			}
		}
	}
}
//

//module group
.module-group{
	width: 304px;
	padding: 30px;
	.btn-group{
		p{
			font-weight: 500;
			margin-bottom: 13px;
		}
		.btn-xs {
			font-size: 12px;
			font-weight: 400;
			text-transform: capitalize;
			letter-spacing: 0;
			color: #8f8f8f;
			border: 1px solid #ddd;
			border-radius: 0;
			width: 100%;
			display: block;
			height: 40px;
			line-height: 40px;
			padding: 0 20px;
			position: relative;
		}
		.btn-xs i {
			position: absolute;
			right: 20px;
			top: 14px;
		}
	}
	.currency-info{
		&.type-2{
			display: block;
			margin-bottom: 36px;
		}
		&.type-1{
			display: none;
		}
		ul{
			border: 1px solid #ddd;
			border-top: 0;
		}
	}
	.languages-info{
		&.type-1{
			display: none;
		}
		&.type-2{
			display: block;
			margin-bottom: 34px;
		}
		ul{
			border: 1px solid #ddd;
			border-top: 0;
		}
	}
	#_desktop_user_info{
		.user-info{
			> .account{
				text-transform: uppercase;
				color: #8f8f8f;
				font-weight: 500;
				.fa{
					color: #000;
					margin-right: 4px;
				}
				&:hover{
					color: $active;
				}
			}
		}
		.type-2 {
			display: block;
		}
		.type-1{
			display: none;
		}
	}
}
//

.top_menu_second{
	.container{
		position: unset;
		> .row{
			margin: 0;
		}
	}
	.layout-column{
		padding: 0;
	}
	.jms-megamenu .dropdown-menu{
		width: auto;
	}
	.jms-megamenu .collection > .dropdown-menu{
		width: 815px;
	}
	.right_menu{
		margin-bottom: 102px;
	}
	.social_icon{
		position: absolute;
		bottom: 75px;
	}
	#social_block{
		&::before{
			content: "";
			width: 293px;
			height: 1px;
			position: absolute;
			background: #ddd;
			top: -78px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	#_desktop_currency_selector{
		margin-bottom: 23px;
	}
	.currency-info, .languages-info{
		&.type-1{
			display: none;
		}
		&.type-3{
			display: block;
		}
		ul li{
			padding: 0;
		}
	}
}
.banner_category{
	.jms-banner{
		a::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,.5);
			transition: all .2s ease-in-out 0s;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		&:hover{
			a{
				> img {
					transform: unset;
				}
				&::before{
					opacity: 1;
				}
			}
			.banner-content{
				transform: translateY(-53px);
				color: $active;
			}
		}
	}
	.banner-content{
		width: 100%;
		text-align: center;
		padding: 0 20px;
		position: unset;
		transform: unset;
		margin-top: 13px;
		transition: .4s all;
	}
}

//product box
.product-miniature .cart-button{
	&.checking .icon-cart{
		display: none;
	}
	&.checked .icon-cart{
		display: none;
	}
	&:hover{
		padding-left: 21px;
		padding-right: 21px;
		background: #333;
		+ .content_price{
			display: none;
		}
		.text-addcart, .text-outofstock, .text-added{
			width: 100%;
			font-size: 13px;
			line-height: normal;
			margin-left: 11px;
		}
	}
}
//

//owl control
.col4 .owl-theme .owl-controls div{
	top: 183px;
}
.col3 .owl-theme .owl-controls div{
	top: 245px;
}
.owl-theme .owl-controls div{
	&::before{
		font-family: 'yanka';
		font-size: 23px;
		line-height: 1;
		z-index: 2;
		top: 8px;
		left: 8px;
		color: #D0D0D0;
	}
	&.owl-next::before {
		content: "\e905";
	}
	&.owl-prev::before {
		content: "\e904";
	}
}
//

//product sort order
.products-sort-order{
	.select-title span {
		cursor: pointer;
		display: block;
		line-height: 31px;
		overflow: hidden;
		padding-left: 9px;
		padding-right: 60px;
		white-space: nowrap;
		color: #777;
	}
	&.dropdown i {
	  	font-size: 14px;
	  	cursor: pointer;
	}
	.dropdown-menu {
	  	left: auto;
		min-width: 173px;
		padding: 15px 17px;
		position: absolute;
		right: -7px;
		display: block;
		background: #fff;
		top: calc(100% + 10px);
	  	a{
		    display: block;
		    line-height: 23px;
		    padding: 0 5px;
		    &:hover, &.current{
		    	background: #f2f2f2;
		    	color: $active;
		    }
		}
	}
}
//

//product page
.top-info{
	display: flex;
	text-align: center;
	.category{
		margin-bottom: 0;
		font-weight: 500;
		text-transform: capitalize;
		display: none;
		a{
			color: $active;

		}
	}
	#product-availability {
		font-size: 12px;
		letter-spacing: 0;
		padding-top: 3px;
		margin-left: 35px;
	}
}
//

//product modal
#product-modal{
	.modal-body{
		padding: 0;
	}
	.modal-content{
		border: 0;
		box-shadow: unset;
	}
	.modal-dialog{
		width: 800px;
	}
}
//

//sidebar
#search_widget h3{
	display: none;
}
#left-column, #right-column{
	#search_widget{
		h3{
			display: block;
		}
		button{
			font-size: 20px;
			color: #000;
			padding-left: 0;
		}
		form{
			border: 0;
			background: #f2f2f2;
		}
	}
}
//

//product layout thumb list
.product-detail.thumbslist{
	.same-category{
		max-width: 1200px;
		padding: 0 15px;
	}
	.images-container{
		display: flex;
		flex-direction: column;
		position: relative;
		.product-cover{
			order: 1;
		}
		.js-qv-mask{
			order: 2;
			max-height: 100%;
			width: 100%;
			margin-right: 0;
			margin-top: 10px;
			ul li.thumb-container{
				img{
					width: 106px;
					margin-right: 10px;
				}
			}
		}
	}
}
//

//share button
.addthis_inline_share_toolbox_ld1s::after {
	content: "";
	display: table;
	clear: both;
}
//

//product layout sticky
.product-detail.sticky{
	&.fixed-right-column{
		.pb-right-column{
			bottom: 0;
			padding: 0;
			height: auto;
			position: fixed;
			width: 100%;
			background: #fff;
			left: 0;
			box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
			z-index: 99;
			#jmsproductvideo{
				display: none;
			}
			.container-cs{
				width: 1170px;
				margin: auto;
				display: flex;
				align-items: center;
			}
			.product-cover{
				display: block;
				width: 63px;
				margin-right: 15px;
			}
			.product-prices.content_price .price.new{
				margin-top: 0;
			}
			.pd-name{
				font-size: 15px;
				margin-right: 20px;
				max-width: 180px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.product-prices.content_price .price.new{
				font-size: 17px;
			}
			.pd-name,
			.content_price{
				padding-bottom: 0;
			}
			.product-information{
				display: flex;
				margin-left: auto;
			}
			#add-to-cart-or-refresh{
				display: flex;
				align-items: center;
			}
			.product-variants {
				display: flex;
				margin-right: 65px;
				.product-variants-item:not(:last-child) {
				    margin-bottom: 0;
				    margin-right: 20px;
				}
			}
			.product-variants-item.size input + span{
				width: 28px !important;
				height: 28px !important;
			}
			.product-add-to-cart{
				margin-top: 0;
				display: flex;
				.title{
					display: none;
				}
				.product-quantity{
					display: flex;
					.customs{
						margin-bottom: 0;
					}
					.product-btn.cart-button{
						padding: 0;
						&:hover .text-addcart{
							left: 0;
						}
						span{
							display: none !important;
							&.text-addcart{
								display: block !important;
								i{
									display: none;
								}
							}
						}
					}
					.add .row > div{
						margin-bottom: 0;
						padding-left: 20px;
					}
				}
				.addToWishlist{
					display: none;
				}
			}
			.product-desc,
			.addthis_inline_share_toolbox_ld1s,
			#more_info_block,
			#product-availability{
				display: none;
			}
		}
	}
	.same-category{
		max-width: 1200px;
		padding: 0 15px;
	}
	.images-container{
		.product-images > li.thumb-container{
			display: block;
			> .thumb{
				margin-right: 0;
				border: 0 !important;
			}
		}
		.js-qv-mask{
			width: 100%;
			margin-right: 0;
			max-height: 100%;
		}
	}
	.product-images{
		.product-cover-horizontal:not(:last-child){
			margin-bottom: 10px;
		}
	}
	.product-cover{
		display: none;
	}
	+ #more_info_block{
		margin-top: 95px;
	}
}
//

//animation
@keyframes slideDown {
  0% {
  		opacity: 0;
      //transform: translateY(-100%);
  }
  100% {
  		opacity: 1;
      //transform: translateY(0%);
  }
}
//

//best seller sidebar
#left-column, #right-column{
	.best-sellers_block_right + .customs-html-left {
	    margin-top: 20px;
	    padding-top: 9px;
	}
}
.best-sellers_block_right{
	.product_button{
		display: none;
	}
	.product-link{
		font-size: 14px;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.product-preview .flexbox + .product-info .label.label-discount {
		display: none;
	}
	.content_price .price.new{
		font-size: 14px;
	}
	.product-box .flexbox {
		width: 37%;
	}
	.product-preview .flexbox + .product-info {
		width: 63%;
		margin-top: 0;
	}
	.title-block h3{
		margin-bottom: 2px;
	}
}
//

//modal addtocart
#blockcart-modal{
	&.modal.fade{
		&.in .modal-dialog{
			transform: translateY(-50%);
		}
		.modal-dialog{
			top: 50%;
			transform: translateY(-75%);
		}
	}
	.modal-dialog{
		width: 450px;
		margin: 0 auto;
	}
	#myModalLabel{
		font-size: 18px;
		line-height: 26px;
		font-weight: 800;
		color: #333333;
		padding-bottom: 0;
	}
	.modal-header{
		border: 0;
	}
	.modal-body{
		text-align: center;
		padding: 5px 0 40px;
		.row{
			margin: 0;
			.layout-column{
				padding: 0 40px;
			}
		}
	}
	.modal-content{
		border: 0;
		padding-top: 25px;
	}
	.close{
		color: #d0d0d0;
		&:hover{
			color: #333;
		}
	}
	.product-name{
		font-size: 16px;
		line-height: 19px;
		font-weight: 400;
		color: #333333;
		margin: 17px 0 0 0;
		padding-bottom: 2px;
	}
	.product-image{
		width: 98px;
	}
	.cart-content{
		padding: 23px 0 0;
		border-top: 1px solid #ebebeb;
		p{
			font-size: 18px;
			color: $active;
			font-weight: 800;
			margin-bottom: 0;
			&.cart-products-count {
				font-size: 16px;
				color: #333;
				font-weight: 400;
			}
		}
		button.btn-default{
			margin-top: 22px;
			margin-bottom: 10px;
			text-transform: capitalize;
			display: flex;
			align-items: center;
			width: 100%;
			svg{
				width: 24px;
				height: 20px;
				margin-right: 10px;
			}
		}
		.btn-default{
			display: block;
			width: 100%;
		}
	}
	.content_price{
		margin: 6px 0 24px;
		.price.new{
			font-size: 14px;
		}
	}
	.property-value{
		span{
			display: block;
			font-size: 14px;
			line-height: 17px;
		}
	}
	.view-cart {
		display: block;
		font-size: 14px;
		font-weight: 800;
		border: 1px solid #ebebeb;
		margin-bottom: 10px;
		height: 44px;
		line-height: 44px;
		color: #333;
		transition: 0s all;
		&:hover{
			border: 2px solid #333;
			line-height: 42px;
		}
	}
	
}
///

#product-modal{
	.modal-dialog{
		margin: 0 auto;
		padding: 15px;
	}
	&.modal{
		&.fade .modal-dialog{
			top: 50%;
			transform: translate(0,-60%);
		}
		&.in .modal-dialog{
			top: 50%;
			transform: translate(0,-50%);
		}
	}
}
.page-index #content-wrapper{
	margin-bottom: 0;
}
a.wishlist_top{
	display: none;
}
#header{
	a.wishlist_top{
		&.home_page{
			display: inline-block;
			height: 24px;
		}
		&.my_account{
			display: none !important;
		}
	}
}
#my-account a.wishlist_top.my_account{
	display: block;
}
#customer-form{
	.custom-checkbox {
		display: flex;
		align-items: baseline;
		input {
		    margin-right: 4px;
		    position: relative;
		    top: 1px;
		}
	}
}
#module-jmswishlist-mywishlist{
	.wl_send{
		.submit input{
			padding: 0 20px;
			background: transparent;
			border-radius: 3px;
			font-size: 14px;
		}
		input{
			border: 1px solid #ccc;
			height: 40px;
			border-radius: 3px;
		}
	}
}

#sitemap{
	ul.nested > li {
		margin: 0 0 0 21px;
		padding: 5px 0 0 33px;
		border-left: 1px solid #e5e5e5;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAABCAIAAABR8BlyAAAADklEQVQI12O4duUK2QgA8Owx2QWUkx4AAAAASUVORK5CYII=) no-repeat left 15px transparent;
	}
}
#history{
	.text-xs-right div {
	    text-align: right;
	}
	.order > .row {
		display: flex;
		align-items: center;
	}
}
.text-xs-center.order-actions > a {
	margin: 0 3px;
}
.label.label-pill {
	color: #fff;
	padding: .2em .6em;
	font-size: 12px;
	font-weight: 500;
}
#conditions-to-approve .js-terms > a {
	font-size: 13px;
	text-decoration: underline;
}
#order-confirmation{
	#content-wrapper {
		margin-bottom: 0px;
	}
}
.ps-shown-by-js button {
	cursor: pointer;
}
.view-mode{
	&.right .sort-by{
		display: none;
	}
	.button {
		display: inline-block;
		position: relative;
		left: 2px;
		a{
			display: inline-flex;
			&.active i{
				fill: $active;
			}
		}
		i{
			font-size: 18px;
			fill: #bdbdbd;
		}
	}
}
//products list
.products-list-in-row{
	.label-sale {
		display: none;
	}
	.product-preview{
		display: flex;
		margin-bottom: 40px;
		&:hover{
			box-shadow: unset;
		}
		.product-info{
			opacity: 1 !important;
			visibility: visible !important;
			.product_button {
				display: flex;
				align-items: center;
			}
		}
	}
	.product-quantities{
		margin-bottom: 21px;
	}
	.product-link{
		text-align: left;
		padding: 0 0 14px;
		font-size: 18px;
	}
	.content_price{
		text-align: left;
	}
	.product-info .color_to_pick_list{
		display: block;
	}
	.product-preview .color_to_pick_list{
		display: inline-flex;
		padding-bottom: 18px;
		.js-count.count {
			display: none;
		}
		> .variant-links{
			display: inline-flex;
			padding: 0;
		}
	}
	.product_action{
		display: none !important;
	}
}
.products-list-in-column{
	.product-info > .btn-group{
		display: none;
	}
}
.product-line-grid-right{
	.material-icons {
	    display: none;
	}
	.btn-touchspin:hover::before {
		color: #222;
	}
	.bootstrap-touchspin-up::before {
		content: "\f0d8";
		font-family: FontAwesome;
		font-size: 16px;
		color: #888;
		position: relative;
		top: 3px;
	}
	.bootstrap-touchspin-down::before {
		content: "\f0d7";
		font-family: FontAwesome;
		font-size: 16px;
		color: #888;
		position: relative;
		bottom: 3px;
	}
}
//

.mega_menu{
	cursor: pointer;
	margin-bottom: 0;
	.close_menu{
		display: none;
	}
}
.open-sidebar1{
	.mega_menu{
		.open_menu{
			display: none;
		}
		.close_menu{
			display: block;
		}
	}
}
#off-canvas-menu{
	ul li .mod-content{
		padding: 0 20px;
		a{
			padding: 0;
		}
	}
	.menu-item > .dropdown-menu{
		transition: unset !important;
		display: none;
	}
	#_desktop_user_info{
		.user-info > .logout2 {
			text-transform: capitalize;
		}
		padding: 0 20px;
		ul{
			li{
				padding: 0;
				a{
					padding: 0;
				}
			}
		}
		.type-2{
			display: block;
			text-align: center;
		}
		.type-1, .type-3{
			display: none;
		}
	}
	.languages-info{
		padding: 0 20px;
		text-align: center;
		margin-bottom: 30px;
		> span{
			font-weight: 600;
		}
		ul{
			padding: 0;
			li{
				padding: 0;
				a{
					padding: 0;
					line-height: 31px;
				}
			}
		}
		&.type-1, &.type-2{
			display: none;
		}
		&.type-3{
			display: block;
		}
	}
	#_desktop_currency_selector{
		padding: 0 20px;
		text-align: center;
		ul{
			padding: 30px 0;
			li{
				padding: 0;
				a{
					padding: 0;
					line-height: 31px;
				}
			}
		}
		&.type-1, &.type-2{
			display: none;
		}
		&.type-3{
			display: block;
		}
	}
}

//quick view
.quickview{
	&.fade.in{
		background: rgba(20, 20, 20, 0.5);
	}
	.modal-body{
		padding: 30px;
	}
	.modal-header {
		min-height: auto;
		padding: 0;
		border-bottom: 0;
	}
	.modal-content{
		border-radius: 0;
		border: 0;
	}
	.product-cover{
		border: 0;
		margin-bottom: 0;
	}
	.product-actions .product-variants{
		justify-content: center;
		flex-direction: column;
	}
	.js-qv-product-cover{
		background: #f1f1f1;
	}
	.content_price{
		.price.old{
			display: block;
			margin: 10px 0 0;
		}
	}
	.images-container .product-images > li.thumb-container {
	    display: block;
	}
	.images-container .js-qv-mask{
		
	}
	.product-variants-item{
		display: block;
		margin-right: 0;
		&:not(:last-child){
			margin-bottom: 35px;
		}
	}
	.right{
		text-align: left;
		.top-info{
			justify-content: center;
		}
		.content_price .price.new{
			text-align: center;
		}
	}
	.arrows.js-arrows{
		width: 70px;
		position: absolute;
		bottom: 0;
		display: flex;
		justify-content: center;
		i{
			font-size: 15px;
			cursor: pointer;
		}
	}
	.block-social{
		ul li a{
			&:hover{
				color: $active;
			}
		}
	}
	#jmsproductvideo{
		display: none;
	}
}
//

#product{
	.product-cover{
		.layer {
			bottom: -40px;
			right: 0;
			font-size: 10px;
			color: #777;
		    position: absolute;
		    cursor: pointer;
		    display: flex;
		    align-items: center;
		    z-index: 9;
		    i{
		    	margin-right: 3px;
		    }
		}
	}
	.thumbslist .product-cover{
		.layer {
		    left: 0;
		}
	}
	#footer {
		margin-top: 78px;
	}
}
#search #content .search-box {
	width: 290px;
	margin: 0 auto;
}
#more_info_block{
	&.v2{
		margin-top: 35px;
	}
	#accordion {
		border-top: 1px solid #e5e5e5;
	}
	.panel.panel-default {
		padding: 4px 0;
		border: 0;
		margin-top: 0;
		box-shadow: unset;
		border-bottom: 1px solid #e5e5e5;
	}
	.panel-title {
	    padding: 0;
	    > a.collapsed::after {

		}
	}
	.panel-body{
		border-top: 0;
		padding: 0;
		margin-top: -4px;
	}
	.panel-heading{
		border: 0;
		padding: 0;
		background: transparent;
		h4{
			padding: 0;
		}
		a{
			font-size: 13px;
			position: relative;
			text-transform: uppercase;
			display: block;
			&.collapsed i{
				transform: rotate(0);
			}
			i{
				position: absolute;
				right: -6px;
				top: 1px;
				transform: rotate(45deg);
				transition: .4s all;
			}
		}
	}
	.panel-body {
		margin-top: 19px;
	}
	.product-description{
		ul{
			margin-bottom: 5px;
		}
		p{
			margin-bottom: 20px;
		}
	}
	.tabs .tt-tabs-product__list li{
		display: block;
	}
	.table-product-sizes{
		width: 100%;
		margin-bottom: 15px;
		tr{
			border-bottom: 1px solid #e5e5e5;
		}
		td{
			font-size: 13px;
			height: 34px;
			padding: 6.5px 15px !important;
			vertical-align: middle !important;
			&:first-child {
				color: #777;
				width: 110px;
			}
		}
	}
}
#product, .quickview{
	.product-variants-item{
		&.size, &.taille{
			input{
				+ span{
					display: flex;
					width: 35px;
				    height: 35px;
				    align-items: center;
				    justify-content: center;
				    border: 1px solid #e5e5e5;
				    z-index: 0;
				}
				&:checked + span{
				    position: relative;
				    color: $active;
				    border-color: $active;
				}
			}
		}
	}
}

#commentForm{
	padding-top: 35px;
	margin-top: 0;
	.form-group{
		margin-bottom: 0;
	}
	input, textarea{
		height: 35px;
		padding-left: 13px;
		border: 1px solid #e5e5e5;
		padding: 0 15px;
		&:hover, &:focus{
			border-color: $active;
		}
	}
	textarea{
		height: auto;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 30px;
	}
	label{
		color: #222;
		margin-bottom: 9px;
		&.lb-comment{
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			margin-top: 26px;
		}
	}
	#new_comment_form_footer {
		margin-top: 46px;
		display: flex;
		justify-content: flex-start;
		p{
			margin-bottom: 0;
		}
	}
}

#module-jmsblog-categories{
	.category-info {
		margin-top: 15px;
		margin-bottom: 0px;
	}
}
.cat-post-list.more-columns{
	margin: 0 -15px;
	max-width: calc(100% + 30px);
	width: calc(100% + 30px);
	text-align: left;
}
.wlp_bought img{
	width: 100%;
}
.modal-dialog .product-cover{
	&:hover::after{
		display: none;
	}
	.layer {
		display: none !important;
	}
}

//flashsale tab
.jmsflashsales-tab{
	border-top: 1px solid #ebebeb;
	padding-top: 36px;
	display: flow-root;
	.flashsales-countdown {
		margin-top: 15px;
	}
	.countdown-row::before{
		display: none;
	}
	.countdown-period {
		display: block;
		font-size: 14px;
		padding-top: 6px;
	}
	.countdown-section{
		.countdown-amount{
			background: #ff8400;
			min-width: 45px;
			line-height: 45px;
			border-radius: 3px;
		}
		&::after{
			display: none;
		}
		&:not(:last-child){
			margin-right: 5px;
		}
		.countdown-amount{
			font-size: 20px;
			font-weight: 700;
		}
	}
	.addon-title h3{
		border-bottom: 0;
		padding-bottom: 36px;
	}
	.tabpanel{
		width: 20%;
		float: left;
		position: relative;
	}
	.tab-content{
		width: 80%;
		float: left;
		position: relative;
	}
	ul{
		li{
			&.active a{
				background: $active;
				color: #fff;
				&::after {
					opacity: 1;
				}
			}
			a{
				padding: 10.5px 15px;
				letter-spacing: 0.2px;
				display: inline-block;
				padding-right: 23px;
				transition: unset;
				&::after{
					content: "";
					opacity: 0;
					width: 0;
					height: 0;
					position: absolute;
					top: 0;
					right: -20px;
					border-top: 20px solid transparent;
					border-bottom: 20px solid transparent;
					border-left: 20px solid $active;
					z-index: 999;
				}
				&.active{
					background: $active;
					color: #fff;
					&::after {
						opacity: 1;
					}
				}
			}
		}
	}

}

//guaranteed
.guaranteed{
	padding: 10px 0 15px;
	border: 1px solid #e5e5e5;
	span{
		font-size: 15px;
		line-height: 21px;
		padding: 0 15px;
		background: #fff;
		position: absolute;
		top: -11px;
		left: 50%;
		transform: translateX(-50%);
		min-width: 215px;
	}
}
//


//flashsales
.jmsflashsales{
	.view-all {
		line-height: 36px;
	}
	.flashsales-slick{
		display: none;
		padding-top: 35px;
		.product-box .flexbox {
			width: 40%;
		}
		.product-preview .flexbox + .product-info{
			width: 60%;
		}
		.product_button{
			display: none;
		}
		.flexbox + .product-info{
			padding-right: 30px;
		}
		.slick-active:nth-child(2n + 1){
			> div:not(:first-child){
				display: none;
			}
			.product-info{
				padding: 0 20px;
			}
			.block-label{
				display: block !important;
			}
			.flex-box.product-box{
				display: block;
				border: 1px solid $active;
				.flexbox, .product-info{
					width: 100%;
				}
			}
		}
	}
	.addon-title{
		h3{
			padding: 0;
			line-height: 36px;
			border: 0;
		}
	}
	.title{
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
		position: relative;
	}
	.flashsales-carousel {
		padding-top: 36px;
	}
	.countdown-row {
		position: relative;
		&::before{
			content: "end in:";
			text-transform: uppercase;
			color: #fff;
			font-weight: 700;
			font-size: 14px;
			padding-right: 4px;
			padding-left: 7px;
		}
	}
	.countdown-period{
		display: none;
	}
	.flashsales-countdown {
		background: #ff8400;
		border-radius: 5px;
		padding: 8px 10px;
		margin-left: 79px;
	}
	.countdown-section{
		background: transparent;
		margin: 0;
		border-radius: 0;
		min-width: 31px;
		padding: 0;
		position: relative;
		&:not(:last-child)::after{
			content: ":";
			color: #fff;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -2px;
		}
	}
	.countdown-section .countdown-amount{
		margin-bottom: 0;
		font-size: 16px;
	}
}

//sitemap
.sitemap{
	h5{
		text-transform: uppercase;
		letter-spacing: 0.7px;
	}
	ul li{
		line-height: 23px;
		a{
			&:hover{
				color: $active;
			}
		}
	}
}
//

//currency-info
.currency-info{
	&.type-2, &.type-3{
		display: none;
	}
}

.languages-info{
	&.type-2, &.type-3{
		display: none;
	}
}

//cart
.text-custom{
	display: none;
	font-size: 16px;
	font-weight: 700;
	color: #000;
	padding-top: 10px;
	padding-left: 6px;
}
.cart_block_total.ajax_block_cart_total {
	letter-spacing: 0px;
}
.ajax_cart_quantity {
	background: #333;
	color: #fff;
	width: 18px;
	height: 18px;
	font-size: 12px;
	font-weight: 800;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -17px;
	right: -11px;
}
#cart_block{
	display: flow-root;
	.btn-default{
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
		white-space: nowrap;
	}
	.cart-button{
		text-align: center;
	}
	.view-cart {
		display: inline-block;
		text-align: center;
		font-size: 14px;
		color: #333;
		font-weight: 800;
		text-transform: capitalize;
		margin-top: 2px;
		position: relative;
		line-height: normal;
		@include underline(0, #333, 2)
		&:hover::before{
			width: 100%;
		}
	}
	.title{
		font-size: 18px;
		color: #333;
		font-weight: 800;
	}
	.remove_link {
		position: absolute;
		top: 0;
		right: 0;
	}
	.cart_block_list {
		padding-top: 17px;
		padding-bottom: 3px;
		.property-value{
			margin: 2px 0 8px;
			span{
				display: block;
				line-height: 17px;
			}
		}
	}
}
.cart-icon{
	display: inline-flex;
	position: relative;
	align-items: center;
	&.center{
		justify-content: center;
	}
	.text-bag {
		padding: 2px 5px 0 6px;
	}
	&.type2{
		display: none;
		align-items: center;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 700;

		width: 125px;
		height: 50px;
		background: $active;
		color: #fff;
		border-radius: 3px !important;
		text-align: right;
		padding: 0 16px;
		float: right;
		&::before{
			display: none;
		}
		.la-shopping-cart{
			font-size: 38px;
		}
		.ajax_cart_quantity{
			position: unset;
			background: transparent;
			font-size: 16px;
			font-weight: 700;
			margin-left: 2px;
			width: auto;
		}
	}
}

#best-sales{
	#search_widget, .blog-widget{
		display: none;
	}
}

// wishlist
#form_wishlist {
  margin-top: 20px;
  fieldset{
  	padding: 15px 0;
  }
}
.wishlist_top.home_page{
	display: inline-block;
	color: #000;
	&:hover{
		color: $active;
	}
}
#block-order-detail .display_list li{
	margin-bottom: 10px;
	a{
		margin-right: 6px;
	}
}

//ajaxsearch
#jms_ajax_search #ajax_search{
	background: #fff url("../img/icon/search-bg.png") no-repeat right 13px;
}
//

//blog
.addon-blog{
	.blog-carousel{
		padding-top: 32px;
	}
	.owl-theme .owl-controls div{
		top: 50%;
		transform: translateY(-50%);
	}
	.post-title{
		padding-bottom: 16px;
	}
	.blog-title {
		display: block;
		font-size: 24px;
		font-weight: 800;
		&:hover{
			text-decoration: underline;
		}
	}
	.post-info {
		margin-top: 29px;
	}
	.post-created{
		font-size: 13px;
		text-transform: uppercase;
	}
	.post-thumb{
		overflow: hidden;
		&:hover img {
			transform: scale3d(1.1, 1.1, 1);
		}
		img{
			transition: transform 1s, -webkit-transform 1s;
		}
	}
}
//

//ver menu
.ver_menu {
	background: $active;
	color: #fff;
	line-height: 40px;
	margin-bottom: 0;
	padding: 0 17px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 800;
	cursor: pointer;
	position: relative;
	.pt-icon{
		i{
			display: none;
			&.open-icon svg{
				width: 24px;
				height: 24px;
			}
			&.close-icon{
				display: inline-block;
				svg{
					width: 24px;
				}
			}
		}
	}
	&.collapsed{
		i{
			display: inline-block;
			&.close-icon{
				display: none;
			}
		}
	}
}
//

//banner product
.banner-product{
	.container-fluid > .row{
		margin: 0 -10px;
	}
	.layout-column{
		padding: 0 10px;
	}
	.jms-banner{
		margin-bottom: 20px;
	}
}
//

//instagram
.instagram_block{
	.instagram-block{
		> div{
			width: 12.5%;
			display: inline-block;
			position: relative;
			margin-top: 10px;
			a{
				display: block;
				position: relative;
				&:hover{
					&::before, &::after{
						opacity: 1;
					}
				}
				&::before{
					font-family: 'yanka';
					font-size: 29px;
					line-height: 1;
					content: "\e907";
					position: absolute;
					color: #ffffff;
					z-index: 7;
					top: 50%;
					left: 50%;
					margin-left: -15px;
					margin-top: -15px;
					width: 30px;
					height: 30px;
					display: block;
					text-align: center;
					opacity: 0;
					transition: opacity .3s;
				}
				&::after{
					content: "";
					display: block;
					position: absolute;
					z-index: 1;
					left: 0;
					top: 0;
					background-color: rgba(0, 0, 0, 0.65);
					height: 100%;
					width: 100%;
					opacity: 0;
					transition: opacity .2s;
				}
			}
			img{
				width: 100%;
			}
		}
	}
	.info-block {
		position: absolute;
		bottom: 0;
		color: #fff;
		width: 100%;
		padding: 0 20px;
		opacity: 0;
		.number-likes{
			float: left;
		}
		.number-comments{
			float: right;
		}
	}
}
//

//testimonial
.testimonial_box{
	.owl-dots{
		margin-top: 37px;
	}
}
.testimonial-box{
	text-align: left;
	.box-content {
		padding: 48px 40px 27px 53px;
		background: #f8f8f8;
		position: relative;
		&::after{
			content: '';
			display: block;
			position: absolute;
			left: 76px;
			bottom: -17px;
			width: 0;
			height: 0;
			border-top: 17px solid #f8f8f8;
			border-right: 34px solid transparent;
		}
	}
	.testimonial-comment{
		.title{
			&::after{
				content: "";
				display: table;
				clear: both;
			}
			h3{
				font-size: 18px;
				line-height: 26px;
				color: #333333;
				font-weight: 800;
				float: left;
				padding-bottom: 11px;
				position: relative;
				cursor: pointer;
				&:hover::before{
					width: 100%;
				}
				@include underline(12, #333, 2)
			}
			.rating {
				display: flex;
				float: right;
				img{
					margin-left: 6px;
				}
			}
		}
	}
	.testimonial-date {
		font-size: 13px;
		display: none;
	}
	.testimonial-author {
		margin-top: 23px;
		font-size: 13px;
		display: flex;
		align-items: center;
		.testimonial-img {
			width: 80px;
			margin-right: 16px;
		}
		span{
			font-weight: 800;
			color: #333;
			margin-right: 4px;
		}
	}
}
//

//service
.feature-box{
	display: flex;
	padding: 30.5px 0;
	position: relative;
	.image{
		display: inline-block;
		margin-right: 20px;
	}
	.include_content_s{
		display: inline-block;
		p{
			margin-bottom: 0;
		}
		.text-1{
			font-weight: 600;
			margin-bottom: 3px;
			color: #333;
			display: inline-block;
			position: relative;
			@include underline(3, #333, 2)
			&:hover::before{
				width: 100%;
			}
		}
		.text-2{
			font-size: 16px;
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 2px;
		}
	}
	.feature-img i{
		font-size: 48px;
		color:$active;
	}
}

#new-products{
	#search_filters_wrapper{
		border: 0;
	}
	#left-column #search_widget,
	#newsletter_block_left{
		display: none;
	}
	.blog-widget,
	.contact-rich{
		display: none;
	}
}

.google_plusone_iframe_widget {
	width: auto !important;
}

//footer
.page-index #footer{
	margin-top: 10px;
}
#footer{
	background: #f8f8f8;
	.footer-top{
		padding: 97px 0 70px;
	}
	.addon-title h3{
		font-size: 18px;
		line-height: 26px;
		color: #333333;
		padding: 0 0 18px 0;
		position: relative;
		text-align: left;
	}
	#tt-store{
		p:first-child{
			margin-bottom: 25px;
		}
	}
	p{
		font-size: 16px;
		line-height: 23px;
	}
	ul{
		li{
			line-height: 20px;
			&:first-child a{
				padding-top: 0;
			}
			a{
				display: inline-block;
				padding: 5px 0;
				font-size: 16px;
				line-height: 1.35;
				color: #777;
				&:hover{
					color: $active;
				}
			}
		}
	}
	.footer-bottom{
		padding-bottom: 70px;
		.copyright{
			font-size: 14px;
			margin-bottom: 16px;
			a{
				position: relative;
				color: #333 !important;
				&:hover::before{
					width: 100%;
				}
				@include underline(2, #333, 1)
			}
		}
		ul{
			li{
				display: inline-block;
				margin-right: 9.5px;
				a{
					padding: 0;
				}
			}
		}
	}
}
//

@media (min-width: 768px){
	.addon-title.mobile{
		display: none;
		+ .collapse{
			display: block;
			visibility: visible;
		}
	}
	.pagination div.left-pagination {
	  text-align: center;
	  color: #777;
	  position: absolute;
	  top: -54px;
	  left: 50%;
	  transform: translateX(-50%);
	}
	.hidden-md-up {
		display: none !important;
	}
}
@media (max-width: 1366px){
	.fancybox-margin {
	    margin-right: 0 !important;
	}
	div#product-modal .modal-dialog {
		width: 600px;
	}
}

@media (max-width: 1199px){
	.jms-megamenu .dropdown-menu.fullwidth > .mega-dropdown-inner {
		max-width: 970px;
	}
	div.blog-item .post-thumb{
		width: 100%;
	}
	div.products-list-in-row .content_price {
		margin-bottom: 0;
		padding-top: 0;
	}
}
@media (max-width: 1199px) and (min-width: 992px){
	#left-column #search_widget input{
		width: 175px;
		text-overflow: ellipsis;
	}
	.zoomContainer {
		width: 298px !important;
		height: 353px !important;
	}
	div.modal-dialog.cover_product1{
		width: 970px;
	}
	.quickview .arrows.js-arrows i{
		&.js-arrow-down {
			bottom: 40px;
		}
		&.js-arrow-up {
			top: 60px;
		}
	}
}
@media (max-width: 991px) and (min-width: 768px){
	div.service .feature-box {
		justify-content: flex-start;
		padding-left: 15px;
	}
}
@media (max-width: 991px){
	div#blockcart-modal .cart-content {
		padding-left: 0;
		button, .btn-default {
			margin-right: 0;
			width: 100%;
			margin-bottom: 10px;
			text-align: center;
		}
	}
	div.product-box .flexbox {
		width: 30%;
	}
	div.product-preview .flexbox + .product-info {
		width: 70%;
		padding: 0 10px;
		.label.label-discount{
			margin-bottom: 10px;
		}
	}
	.service{
		.layout-column:not(:last-child){
			margin-bottom: 10px;
		}
	}
	#commentForm .form-group {
		margin-bottom: 20px;
	}
	.blog-widget .post-thumb img {
		height: auto;
	}
	#left-column #search_widget button{
		width: 50px;
	}
	.quickview{
		.arrows.js-arrows i{
			&.js-arrow-up{
				top: 10px;
			}
			&.js-arrow-down{
				bottom: 0px;
			}
		}
		.images-container{
			.js-qv-mask{
				max-height: 295px;
			}
		}
	}
	.header .container > .row, .header .container-fluid > .row{
		display: block;
	}
	input#ajax_search{
		min-width: 470px;
	}
	div#jms_ajax_search #search_result{
		width: 470px;
	}
	.jmsflashsales-tab2 .main{
		padding: 20px 0;
	}
	div.modal-dialog.cover_product1 {
		width: 750px;
	}
	.product-variants .product-variants-item:not(:last-child){
		margin-bottom: 15px;
	}
}
@media (max-width: 767px){
	.custom-mobile{
		text-align: center;
		&::after{
			content: "";
			width: 100%;
			height: 1px;
			background: #e5e5e5;
			position: absolute;
			left: 0;
			top: -13px;
		}
		.addon-title{
			display: none;
			&.mobile{
				display: block;
				cursor: pointer;
				&.collapsed i{
					transform: unset;
				}
				h3{
					text-align: center !important;
					i{
						position: absolute;
						right: -4px;
						top: -1px;
						transform: rotate(45deg);
						transition: .4s all;
					}
				}
			}
		}
	}
	#jmsproductvideo .jms-popup-wrap{
		width: calc(100% - 60px);
	}
	.product-preview .color_to_pick_list a{
		margin-bottom: 10px;
	}
	div#block-order-detail .display_list li a {
		margin-right: 0;
		margin-bottom: 10px;
	}
	.wishlisturl input{
		width: 100% !important;
	}
	.hidden-sm-down {
		display: none !important;
	}
	.sm-d-flex{
		display: flex !important;
	}
	div.jms-slider-wrapper .fs-pager-wrapper {
		bottom: 15px;
	}
	.breadcrumb-box.container{
		display: block;
	}
	div#module-group{
		right: 0;
	}
	div#jms_ajax_search{
		#search-form .searchbox{
			top: 130px;
		}
		#search_result{
			top: 185px;
		}
	}
	.searchbox input#ajax_search {
		min-width: 290px;
	}
	div#jms_ajax_search div#search_result {
		width: 290px;
	}
	div#search_result .result_div{
		.item .left-img {
			width: 30%;
		}
		.right-info {
		    width: 70%;
		}
	}
	.countdown-box .row{
		display: block;
	}
	.page-index #wrapper > .container{
		padding: 0 !important;
	}
	div.jms-tab .nav{
		overflow: auto;
	}
	.container{
		padding: 0 15px !important;
	}
	input#ajax_advsearch{
		width: 100%;
	}
	#advsearch_result {
	    width: 100% !important;
	    min-width: auto !important;
	}
}
@media (max-width: 481px){
	.jms-videos iframe{
		height: 300px;
	}
	div.owl-carousel .owl-item img{
		width: 100%;
	}
	.product-miniature.product-preview{
		.product-info{
			padding-bottom: 10px;
		}
		.product_action{
			display: block;
			button{
				width: 100%;
				min-width: 100%;
				white-space: nowrap;
			}
			.addToWishlist{
				margin-left: 0;
				margin-top: 10px;
			}
		}
	}
	#module-jmswishlist-mywishlist{
		.footer_links li{
			display: block;
			margin-right: 0;
			&:first-child a{
				margin-bottom: 10px;
			}
			a{
				width: 100%;
				text-align: center;
			}
		}
	}
	#newsletter_block_left{
		.form-group button{
			width: 100%;
		}
		#newsletter-input{
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
	.product-information{
		.countdown-box .countdown-amount{
			font-size: 20px !important;
		}
	}
	#module-group{
		width: 290px;
	}
	div.jms-tab ul .nav-item a{
		display: inline-block;
	}
	form#searchbox #selector_cat{
		padding-right: 58px;
		text-overflow: ellipsis;
	}
	.view-mode .button {
		padding: 9px 0;
	}
	div.product-add-to-cart .text {
		margin-right: 10px;
	}
	div#blockcart-modal.modal.in .modal-dialog {
		transform: translate(0, 10%);
	}
	.sort-by{
		display: none;
	}
	div.products-list-in-row{
		.product-preview{
			.preview{
				width: 100%;
			}
			.product-info{
				width: 100%;
				border-right: 0;
				margin-top: 20px;
				padding: 0;
			}
			.product_action{
				width: 100%;
			}
			.border{
				flex-direction: column;
			}
		}
	}
	div.products-list-in-row .product-preview{
		flex-direction: column;
	}
	#searchbox #selector_cat{
		max-width: 121px !important;
	}
	div.fraction-slider{
		.prev, .next{
			display: none;
		}
	}
	.product_tab{
		.owl-theme .owl-controls {
			top: -15px;
			left: 50%;
			right: auto;
			transform: translateX(-50%);
		}
	}
	div.feature-box{
		flex-direction: column;
		justify-content: center;
		text-align: center !important;
		padding: 15px 0;
		i{
			margin-right: 0 !important;
		}
		.include_content_s {
		    margin-left: 0;
		    margin-top: 10px;
		}
	}
}