@import "mixin";
@import "varians";

.cates{
	margin-top: 93px;
	.title{
		margin-bottom: 22px;
	}
	.jms-banner{
		margin-bottom: 30px;
		.banner-content {
			width: 100%;
			left: 0;
			top: auto;
			bottom: 20px;
			display: flex;
			justify-content: center;
			a{
				background: #fff;
				padding: 8px 33px;
				font-weight: 800;
				color: #333;
				display: inline-block;
				&:hover{
					color: #fff;
					background: $active;
				}
			}
		}
	}
}
.special-offer{
	margin-top: 63px;
}
.banner{
	.container-fluid{
		padding: 0 10px;
		> .row{
			margin-left: -5px;
			margin-right: -5px;
		}
	}
	.layout-column{
		padding: 0 5px;
	}
	.banner-content{
		color: #fff;
		left: 38px;
		bottom: 32px;
		top: auto;
		.text-1{
			font-weight: 800;
			margin-bottom: 7px;
		}
		.text-2{
			font-size: 36px;
			line-height: 43px;
			font-weight: 800;
		}
	}
}