@import "mixin";
@import "varians";

.header{
	.container > .row{
		display: flex;
		align-items: center;
	}
	.megamenu{
		display: flex;
		align-items: center;
		.addon-box{
			&:first-child{
				margin-right: 27px;
			}
		}
	}
	.right-module-header .addon-box:last-child{
		margin-right: 0;
		margin-left: 17px;
	}
}
.ajax_cart_quantity{
	right: 4px;
}
.banner{
	margin-top: 10px;
	.row{
		margin-left: -5px;
		margin-right: -5px;
	}
	.layout-column{
		padding: 0 5px;
	}
	.jms-banner{
		&:hover .banner-content p{
			color: #fff;
			background: $active;
		}
		.banner-content {
			width: 100%;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			justify-content: center;
			p{
				background: #fff;
				padding: 8px 33px;
				font-weight: 800;
				color: #333;
				display: inline-block;
				transition: all 0.2s;
			}
		}
	}
}
.special-offer{
	margin-top: 93px;
	margin-bottom: 60px;
}
#footer .footer-top{
	padding-bottom: 65px;
}
