@import "mixin";
@import "varians";

.jms-row.menu.fixed{
	top: 0;
}
.menu{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.jms-banner{
	> a{
		display: block;
		overflow: hidden;
	}
	.banner-content{
		position: unset;
		text-align: center;
		margin-top: 18px;
		.banner-title{
			font-size: 24px;
			padding-bottom: 12px;
		}
	}
}
#footer{
	.newsletter{
		margin-bottom: 50px;
		.container > .row{
			max-width: 600px;
			margin: auto;
		}
		.addon-title{
			h3, span{
				display: block;
				text-align: center;
			}
		}
		.news_content{
			margin-top: 21px;
		}
	}
	.footer-bottom{
		text-align: center;
		padding: 18px 0 12px;
		p {
			font-size: 10px;
			color: #858585;
			margin-bottom: 10px;
			a{
				text-decoration: underline;
				color: $subcolor;
				&:hover{
					color: $active;
				}
			}
		}
	}
}

@media (max-width: 481px){
	#footer .newsletter .container > .row{
		margin: 0 -15px;
	}
}