@import "mixin";
@import "varians";

.popupal-collections{
	margin-top: 93px;
	padding-bottom: 40px;
}
.jms-banner{
	margin-bottom: 60px;
	> a{
		display: block;
		overflow: hidden;
	}
	.banner-content{
		position: static;
		text-align: center;
		margin-top: 12px;
		.text-1{
			color: #333;
			font-size: 24px;
			line-height: 35px;
			font-weight: 800;
			margin: 0;
			padding: 0;
			position: relative;
			display: inline-block;
		}
		.text-2{
			font-size: 16px;
			line-height: 25px;
			margin: 1px 0 0 0;
			+ p .btn-border{
				margin-top: 14px;
			}
		}
		.btn-border{
			margin-top: 10px;
		}
	}
}
.jms-row.best-seller{
	.addon-title{
		border-top: 1px solid #ebebeb;
		padding-top: 93px;
	}
	.owl-dots{
		padding-bottom: 100px;
		border-bottom: 1px solid #ebebeb;
	}
}
.service{
	padding: 69px 0 85px;
}
#footer .footer-top {
	padding-bottom: 65px;
}