@import "mixin";
@import "varians";

.header{
	border-bottom: 1px solid #e5e5e5;
	.menu{
		display: flex;
		align-items: center;
		.addon-box:first-child{
			margin-right: 20px;
		}
	}
	.jms-megamenu .nav > li > a {
		line-height: 27px;
	}
}
.jms-slider-wrapper{
	.text-2{
		letter-spacing: 2.2px;
	}
}
.jms-banner{
	> a{
		display: block;
		overflow: hidden;
	}
	.banner-content{
		position: unset;
		text-align: center;
		margin-top: 18px;
		.banner-title{
			font-size: 24px;
			padding-bottom: 9px;
		}
		.banner-desc{
			color: $subcolor;
			padding-bottom: 19px;
		}
	}
}
.page-index #footer{
	margin-top: 0;
	border-top: 0;
}
#footer{
	#social_block.type-2 ul{
		justify-content: flex-start;
		li{
			padding: 0;
			margin-right: 20px;
		}
	}
	.find-us {
		display: flex;
	}
	#newsletter_block_left{
		.news_content{
			margin-top:23px;
			margin-bottom: 38px;
		}
	}
	.footer-top{
		margin-bottom: 40px;
		#social_block .fa {
		    min-width: auto;
		}
	}
}

@media (max-width: 1366px) and (min-width: 1200px){
	.jms-slider-wrapper{
		.text-2{
			font-size: 35px !important;
			letter-spacing: 0;
		}
		.text-3{
			font-size: 14px !important;
		}
	}
}
@media (max-width: 1199px){
	.jms-megamenu .nav > li {
		padding: 0 3px;
	}
	.right-icon-group .addon-box {
		margin-left: 10px;
	}
	.jms-slider-wrapper{
		.text-2{
			letter-spacing: 0;
		}
	}
}
@media (max-width: 991px){
	.jms-banner .banner-content .banner-title {
		font-size: 15px;
	}
}