/* Block JmsPopup */
.jms-popup {
  width: 800px;
  height: 512px;
  padding: 10px;
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background: #fff;
}
.jms-popup-content {
  text-align: center;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
}
.jms-popup-content #newsletter_block_left .block_c_right .alert {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.jms-popup-content h2 {
  font-size: 24px;
  letter-spacing: -1px;
  padding: 0 20px;
  line-height: 1.2;
  margin-bottom: 19px;
}
.jms-popup #social_block ul{
  text-align: center;
  margin-top: 0;
}
.jms-popup #social_block a {
  width: 37px;
  height: 37px;
  border: 0;
  font-size: 19px;
  margin: 0 2.5px;
  border-radius: 8px;
}
.jms-popup #social_block {
  padding: 17px 0 19px;
  text-align: center;
  background: #141414;
  border: 2px solid #fff;
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.jms-popup #social_block h3{
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.1px;
  padding-bottom: 16px;
}
.jms-popup #newsletter_block_left {
  padding: 84px 0 0;
}
.jms-popup .alert.alert-danger{
  padding: 0;
}
.jms-popup .addon-title span {
  font-size: 18px;
  display: block;
  line-height: 28px;
  margin-top: 10px;
}
.jms-popup input {
	border:1px solid #ececec;
	margin-bottom:13px;
}
.jms-popup .btn-popup {
  background: transparent;
  font-size: 16px;
  display: block !important;
  width: 18px;
  color: #141414;
}
.jms-popup p {
	line-height:26px;
}
.jms-popup-content .img-popup {
  margin-bottom: 59px;
  margin-top: 12px;
}
.jms-popup-overlay .popup-close {
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 14px;
  width: 16px;
  z-index: 9;
}
.jms-popup-overlay .popup-close svg{
  color: #d0d0d0;
  transition: color .2s;
}
.jms-popup-overlay .popup-close:hover svg{
  color: #333;
}
.jms-popup-overlay {
	display: block;	
	background-color: rgba(0, 0, 0, 0.5);  
	height: 100%;
  left: 0;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.dontshow {
  margin-top: 0;
  display: inline-flex;
  justify-content: center;
  position: relative;
  transform: translateY(-108px);
}
#dontshowagain {
  width: 20px;
  height: 20px;
  position: relative;
  top: 7px;
  left: 0px;
  margin-bottom: 18px;
  opacity: 0;
  z-index: 9;
}
.dontshow .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #ebebeb;
  z-index: 1;
}
.dontshow .checkmark::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNiAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNS4xNjY2N0w2LjM4NDYyIDExTDE1IDEiIHN0cm9rZT0iIzMzMzMzMyIgc3Ryb2tlLXdpZHRoPSIxLjYiLz4KPC9zdmc+Cg==");
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: none;
}
.dontshow input:checked ~ .checkmark::after {
  display: block;
}
.dontshow input,
.dontshow > div {
	display:inline-block;
    line-height: 30px;
    margin-right: 9px;
    padding-top: 8px;
}
.dontshow label {
  display: inline-block;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 25px;
  margin-left: 5px;
}
.dontshow label a{
  margin-left: 5px;
}
.jms-popup-content #newsletter_block_left .form-group {
  border: 0;
  display: flex;
  border-radius: 0;
  padding: 0;
  margin-bottom: 13px;
  margin-top: 32px;
}
.jms-popup-content  .block_c_right .newsletter-input , .jms-popup-content .newsletter-btn.buttonh1{
    width: 100%;
}
.jms-popup-content #newsletter_block_left .form-group #newsletter-input {
  font-size: 14px;
  height: 44px;
  width: 100%;
  padding: 0 18px;
  margin-bottom: 78px;
  font-weight: 800;
  border: 1px solid #ebebeb;
}
.input_popup::-webkit-input-placeholder {
  color: #777 !important;
  font-size: 13px !important;
  letter-spacing: 0;
}
.input_popup::-moz-placeholder {
  color: #777 !important;
  font-size: 13px !important;
  letter-spacing: 0;
}